.footer {
    display: flex;
    justify-content: center;
    border-top: 2px solid #ccc;
    padding: 6rem 0;
    width: 100%;
    background-color: white;
  }
  
.footer-text {
  font-size: 2em;
    margin: 0;
    padding: 0;
  }